.red-text {
  color: red;
}

.green-text {
  color: green;
}
.pass-badge {
 /* background-color: green;*/
  color:green;
  padding: 5px;
  /* border-radius: 5px; */
}

.fail-badge {
  /*background-color: red;*/
  color: red;
  padding: 5px;
  /* border-radius: 5px; */
}

h1{
  text-align: center;
}

h1 {
  color: #2d88ff;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

button {
  display: block;
  margin: 20px auto;
}


header {
  position: relative;
  background-color: #343a40;
  background: url(/src/app/assets/OIP.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.card-title
{
color:black ;
}
