.red-text {
  color: red;
}

.green-text {
  color: green;
}
.pass-badge {
 /* background-color: green;*/
  color:green;
  padding: 5px;
  /* border-radius: 5px; */
}

.fail-badge {
  /*background-color: red;*/
  color: red;
  padding: 5px;
  /* border-radius: 5px; */
}

h1{
  text-align: center;
}